html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
circle{
    fill-opacity: .9;
}
line{
    stroke:#909090;
    stroke-opacity:0.6;
}
.label{
    font-size: x-small;
    font-family: sans-serif;
}
.inactive{
    opacity: .2;
}