body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    stroke:black;
}
h1 {
    padding: 20px;
    text-align: center;
    font-size: large;
    margin: 8px 0;
}
svg {
    display: block;
    padding: 5px;
    margin: 8px auto;
    width: 70vw;
    height: 70vw;
    border: 2px solid #333;
    border-radius: 50px;
    max-width: 1000px;
    max-height: 800px;
}
circle{
    fill-opacity: 1;
}
line{
    stroke:#909090;
    stroke-opacity:0.6;
}
.label{
    font-size: x-small;
    font-family: sans-serif;
}
.inactive{
    opacity: .2;
}
#Paper_Title{
    position: absolute;
    top: 1vh;
    left: 30vh;
    font-size: 12pt;
    font-family: sans-serif;
}
#tooltip {
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    pointer-events: none;
    display: none;
    font-family: sans-serif;
    font-size: 12pt;
    z-index: 1000;
    max-width: 300px;
    word-wrap: break-word;
}
svg{
    
}