html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
h1 {
    padding: 20px;
    text-align: center;
    font-size: large;
    margin: 8px 0;
}
svg {
    display: block;
    padding: 10px;
    margin: 8px auto;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: auto;
    stroke:#909090
    border-radius: 10px;
}
circle{
    fill-opacity: .9;
}
line{
    stroke:#909090;
    stroke-opacity:0.6;
}
.label{
    font-size: x-small;
    font-family: sans-serif;
}
.inactive{
    opacity: .2;
}
